form {
  padding: 0 69px;
}

.row {
  justify-content: center;
}

.pokemon__card {
  max-width: 280px;
  padding: 0;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 20px;
  margin: 0 10px;

  .pokemon__content {
    padding: 0;
    padding: 30px 37px;
  }
  .pokemon__card-header {
    @include pokemon(name);
    padding-bottom: 5px;
  }

  .pokemon__content-type {
    @include pokemon(type);
    padding: 3px 0;
  }

  .pokemon__content-weight {
    @include pokemon(weight);
    padding-right: 15px;
    font-weight: bold;
  }

  .pokemon__content-wrapper {
    padding-top: 25px;
    display: flex;
  }
  .pokemon__img-box {
    border-bottom: 3px solid #000;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 68px;
  }
  img {
    width: 175px;
    height: 175px;
  }
}

input,
button {
  width: 260px;
  height: 60px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 15px;
}
